[Unit]
Description=Disk Cache Cleaning Daemon for Apache HTTP Server
After=httpd.service
Documentation=man:htcacheclean(8)

[Service]
Type=forking
User=apache
PIDFile=/home/sbalinen/jenkins-httpd/run/httpd/htcacheclean/pid
EnvironmentFile=/home/sbalinen/jenkins-httpd/etc/sysconfig/htcacheclean
ExecStart=/home/sbalinen/jenkins-httpd/usr/sbin/htcacheclean -P /home/sbalinen/jenkins-httpd/run/httpd/htcacheclean/pid -d $INTERVAL -p $CACHE_ROOT -l $LIMIT $OPTIONS
